@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;

  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
.hoverButton:hover {
  background-color: black;
  color: white;
}
.gradientBg {
  background: linear-gradient(120deg, #f3eef8 10%, #d1b1ef 30%, #44b3e7 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}
.gradientBg2 {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 2s ease infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
