/* General Styles */
body {
    background-color: #f7f9fc;
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container for the Startup Details */
.startup-details {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Header Section */
.startup-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.startup-logo {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.startup-header h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

.pitch {
    font-style: italic;
    color: #666;
}

/* Info Section */
.startup-info {
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 20px;
}

.info-item h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #333;
}

.key-person,
.shareholder,
.client {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.key-person:hover,
.shareholder:hover,
.client:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.person-image,
.client-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person-details {
    margin-left: 10px;
}

/* Footer Section */
.startup-footer {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.startup-footer p {
    margin: 5px 0;
}

/* Chart Container */
.chart-container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

.shareholder-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .shareholder-table th,
  .shareholder-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .shareholder-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  